#b1 {
position: absolute;
width: 20px;
height: 20px;
left: 182.06px;
top: 57.86px;
}

#b2 {
position: absolute;
width: 20px;
height: 20px;
left: 180.67px;
top: 114.58px;
}

#b3 {
position: absolute;
width: 20px;
height: 20px;
left: 179.29px;
top: 157.46px;
}

#b4 {
position: absolute;
width: 20px;
height: 20px;
left: 174.89px;
top: 274.6px;
}

#b5 {
position: absolute;
width: 20px;
height: 20px;
left: 178.07px;
top: 395.72px;
}

#b6 {
position: absolute;
width: 20px;
height: 20px;
left: 181.26px;
top: 446.72px;
}

#b7 {
position: absolute;
width: 20px;
height: 20px;
left: 183.65px;
top: 476.2px;
}

#b8 {
position: absolute;
width: 20px;
height: 20px;
left: 182.06px;
top: 505.68px;
}

#b9 {
position: absolute;
width: 20px;
height: 20px;
left: 522.3px;
top: 171.01px;
}

#b10 {
position: absolute;
width: 20px;
height: 20px;
left: 518.32px;
top: 210.06px;
}

#b11 {
position: absolute;
width: 20px;
height: 20px;
left: 518.32px;
top: 264.24px;
}

#b12 {
position: absolute;
width: 20px;
height: 20px;
left: 520.71px;
top: 319.22px;
}

#b13 {
position: absolute;
width: 20px;
height: 20px;
left: 529.48px;
top: 365.44px;
}

#b14 {
position: absolute;
width: 20px;
height: 20px;
left: 540.63px;
top: 437.95px;
}

#b15 {
position: absolute;
width: 20px;
height: 20px;
left: 539.83px;
top: 488.15px;
}

#b16 {
position: absolute;
width: 20px;
height: 20px;
left: 595.61px;
top: 565.44px;
}

#b17 {
position: absolute;
width: 20px;
height: 20px;
left: 594.82px;
top: 594.93px;
}

#b18 {
position: absolute;
width: 20px;
height: 20px;
left: 595.61px;
top: 642.74px;
}

#b19 {
position: absolute;
width: 20px;
height: 20px;
left: 518.32px;
top: 706.48px;
}

#b20 {
position: absolute;
width: 20px;
height: 20px;
left: 524.69px;
top: 755.89px;
}

#b21 {
position: absolute;
width: 20px;
height: 20px;
left: 520.71px;
top: 849.12px;
}

#b22 {
position: absolute;
width: 20px;
height: 20px;
left: 519.12px;
top: 904.89px;
}

#b23 {
position: absolute;
width: 20px;
height: 20px;
left: 519.12px;
top: 947.92px;
}

#b24 {
position: absolute;
width: 20px;
height: 20px;
left: 511.15px;
top: 1001.31px;
}

#b25 {
position: absolute;
width: 20px;
height: 20px;
left: 508.76px;
top: 1033.18px;
}

#b26 {
position: absolute;
width: 20px;
height: 20px;
left: 509.55px;
top: 1065.85px;
}