body {
  background-color: rgb(18, 18, 18);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px;
}

.card-inside {
  background-color: rgb(22, 22, 22);
  height: 360px;
  width: 360px;
  border-radius: 16px;
  position: relative;
  top: 2px;
  left: 2px;
}

.card-inside:hover::before {
  opacity: 1;
}

.card-inside::before {
  border-radius: inherit;
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.06),
    transparent 40%
  );
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
  opacity: 0;
  transition: opacity 500ms;
  pointer-events: none;
}

.card-border {
  background-color: rgb(44, 44, 44);
  height: 364px;
  width: 364px;
  border-radius: 18px;
  position: relative;
}

.card-border::before {
  border-radius: inherit;
  background: radial-gradient(
    400px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.4),
    transparent 40%
  );
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
  opacity: 0;
  transition: opacity 500ms;
}

#cards:hover .card-border::before {
  opacity: 1;
}

h1 {
  font-family: "Montserrat";
  font-weight: 400;
  color: #e6e6e6;
  margin: 20px;
  font-size: 26px;
  position: absolute;
  bottom: 0;
}

#asia-icon {
  filter: invert(100%) sepia(2%) saturate(1%) hue-rotate(54deg) brightness(113%) contrast(80%);
  margin: 20px 10px 30px 10px;
  opacity: 20%;
  pointer-events: none;
}

#america-icon {
  height: 80%;
  margin: 20px 20px 40px -60px;
  opacity: 25%;
  pointer-events: none;
}

a {
  margin: 0;
  padding: 0;
  height: inherit;
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}