#b1 {
position: absolute;
width: 20px;
height: 20px;
left: 263.08px;
top: 265.69px;
}

#b2 {
position: absolute;
width: 20px;
height: 20px;
left: 223.33px;
top: 293.52px;
}

#b3 {
position: absolute;
width: 20px;
height: 20px;
left: 203.45px;
top: 331.68px;
}

#b4 {
position: absolute;
width: 20px;
height: 20px;
left: 254.34px;
top: 372.23px;
}

#b5 {
position: absolute;
width: 20px;
height: 20px;
left: 341.8px;
top: 379.39px;
}

#b6 {
position: absolute;
width: 20px;
height: 20px;
left: 389.51px;
top: 301.47px;
}

#b7 {
position: absolute;
width: 20px;
height: 20px;
left: 517.52px;
top: 276.02px;
}

#b8 {
position: absolute;
width: 20px;
height: 20px;
left: 122.35px;
top: 338.84px;
}

#b9 {
position: absolute;
width: 20px;
height: 20px;
left: 99.29px;
top: 364.28px;
}

#b10 {
position: absolute;
width: 20px;
height: 20px;
left: 144.61px;
top: 384.95px;
}

#b11 {
position: absolute;
width: 20px;
height: 20px;
left: 174.83px;
top: 414.37px;
}

#b12 {
position: absolute;
width: 20px;
height: 20px;
left: 201.86px;
top: 446.18px;
}