#b1 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 444.29px;
    top: 247.98px;
}


#b2 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 568.7px;
    top: 306.57px;
}


#b3 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 468.16px;
    top: 208.92px;
}


#b4 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 433.44px;
    top: 104.77px;
}


#b5 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 609.93px;
    top: 671.13px;
}


#b6 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 589.67px;
    top: 564.8px;
}


#b7 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 402.33px;
    top: 473.66px;
}


#b8 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 365.44px;
    top: 41.11px;
}


#b9 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 516.62px;
    top: 105.49px;
}


#b10 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 667.01px;
    top: 645.81px;
}