body {
  padding: 0px;
  border: 0px;
  margin: 0px;
  font-family: "Montserrat";
  background-color: #ebebeb;
}

article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

nav {
  background-color: black;
  height: 10vh;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
}

#input {
  width: 400px;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 3vh;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

#input:focus {
  outline: none;
}

#inputDiv {
  border-bottom: 1px solid white;
  margin: 0 20px;
}

#checkBtn {
  margin: 0;
  padding: 0;
  height: 4vh;
  width: 4vh;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

#checkBtn span {
  font-size: 3vh;
}

#answerBtn {
  margin: 0;
  padding: 0 30px;
  height: 4vh;
  background-color: white;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 2vh;
  font-weight: 500;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
}

#answerBtn:hover {
  background-color: transparent;
  color: white;
}

#result {
  margin: 5px 20px;
  font-weight: 600;
  font-size: 3vh;
  min-height: 32px;
}

#rightDiv {
  padding: 15px;
}

#map {
  width: 1000px;
}

.mapBtn {
  position: absolute;
  width: 20px;
  height: 20px;
  margin: 0;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 0;
}

.mapBtn > svg > path {
  opacity: 0%;
}

button.activeBtn:not(:has(svg)) {
  background-color: red;
  border: 3px solid white;
  box-shadow: 0 0 0 3px red;
  border-radius: 10px;
  opacity: 100%;
}

button.activeBtn > svg > path {
  stroke: red;
  opacity: 100%;
}

button.visibleMapBtn:not(:has(svg)) {
  background-color: darkblue;
  border: 3px solid white;
  box-shadow: 0 0 0 3px darkblue;
  border-radius: 10px;
  opacity: 100%;
}

button.visibleMapBtn > svg > path {
  stroke: darkblue;
  opacity: 100%;
}

#mapList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 0;
}

#mapList p {
  margin: 0 0 5px 0;
  cursor: pointer;
}