#b1 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 729.48px;
    top: 365.72px;
}

#b2 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 176.87px;
    top: 92.36px;
}

#b3 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 592.8px;
    top: 891.24px;
}

#b4 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 386.6px;
    top: 438.77px;
}

#b5 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 359.5px;
    top: 450.56px;
}

#b6 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 708.28px;
    top: 547.18px;
}

#b7 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 114.42px;
    top: 384.57px;
}

#b8 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 360.93px;
    top: 177.19px;
}

#b9 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 315.08px;
    top: 210.19px;
}

#b10 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 480.87px;
    top: 219.61px;
}

#b11 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 568.06px;
    top: 289.13px;
}

#b12 {
    position: absolute;
    width: 209.7px;
    height: 113.42px;
    left: 436.22px;
    top: 598.18px;
    border: none;
    background-color: transparent;
}

#b13 {
    position: absolute;
    width: 168.72px;
    height: 141.59px;
    left: 428px;
    top: 466.61px;
    border: none;
    background-color: transparent;
}

#b14 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 474.98px;
    top: 326.84px;
}

#b15 {
    position: absolute;
    width: 162.18px;
    height: 377.05px;
    left: 621.38px;
    top: 368.8px;
    border: none;
    background-color: transparent;
}

#b16 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 738.91px;
    top: 318.59px;
}

#b17 {
    position: absolute;
    width: 582.13px;
    height: 170.53px;
    left: 69.13px;
    top: 128.98px;
    border: none;
    background-color: transparent;
}

#b18 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 546.21px;
    top: 181.09px;
}

#b19 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 673.67px;
    top: 221.23px;
}

#b20 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 529.15px;
    top: 789.31px;
}

#b21 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 433.8px;
    top: 809.38px;
}

#b22 {
    position: absolute;
    width: 666.67px;
    height: 76.3px;
    left: 57.02px;
    top: 289.57px;
    border: none;
    background-color: transparent;
}