body {
    padding: 0px;
    border: 0px;
    margin: 0px;
    font-family: "Montserrat";
    background-color: #021b14;
}

h1 {
    margin: 5px;
    font-weight: 600;
    font-size: 26px;
    color: white;
}

#clickedName {
    font-size: 16px;
    top: 0px;
    left: 0px;
    position: absolute;
    text-shadow: -1px 0 1px white, 0 1px 1px white, 1px 0 1px white, 0 -1px 1px white;
}

#outerDiv {
    display: grid;
}

#mapDiv {
    display: flex;
    justify-content: center;
    z-index: -1;
    grid-column: 1;
    grid-row: 1;
}

#map {
    width: 1000px;
    z-index: -1; 
}

#buttonOuterDiv {
    display: flex;
    justify-content: center;
    grid-column: 1;
    grid-row: 1;
}

#buttonDiv {
    display: grid;
    width: 1000px;
}

.mapBtn {
    position: relative;
    grid-column: 1;
    grid-row: 1;
    opacity: 0%;
}

.activeBtn {
    background-color: red;
    border: 3px solid white;
    box-shadow: 0 0 0 3px red;
    border-radius: 10px;
    opacity: 100%;
}

#inputDiv {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#inputDiv * {
    margin: 5px 10px;
}

#input {
    font-size: 20px;
    height: 40px;
    width: 400px;
    padding: 0 15px;
    font-family: "Montserrat";
    font-weight: 500;
    color: white;
    border: none;
    border-radius: 30px;
    background-color: #072e24;
}

#input:focus {
    outline: none;
}

#inputBtnDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

#inputBtnDiv button {
    font-size: 16px;
    height: 40px;
    padding: 0 20px;
    font-family: "Montserrat";
    font-weight: 500;
    color: white;
    border: none;
    border-radius: 15px;
    background: linear-gradient(145deg, #021812, #021d15);
    box-shadow:  10px 10px 15px #01130e,
                 -10px -10px 15px #03231a;
}

#inputBtnDiv button:hover {
    background: #03231a;
    cursor: pointer;
}

#b1 {
width: 20px;
height: 20px;
left: 182px;
top: 52px;
}

#b2 {
width: 20px;
height: 20px;
left: 222px;
top: 62px;
}

#b3 {
width: 20px;
height: 20px;
left: 373px;
top: 42px;
}

#b4 {
width: 20px;
height: 20px;
left: 393px;
top: 11px;
}

#b5 {
width: 20px;
height: 20px;
left: 637px;
top: 42px;
}

#b6 {
width: 20px;
height: 20px;
left: 830px;
top: 62px;
}

#b7 {
width: 20px;
height: 20px;
left: 850px;
top: 99px;
}

#b8 {
width: 20px;
height: 20px;
left: 900px;
top: 99px;
}

#b9 {
width: 20px;
height: 20px;
left: 830px;
top: 110px;
}

#b10 {
width: 20px;
height: 20px;
left: 860px;
top: 153px;
}

#b11 {
width: 20px;
height: 20px;
left: 789px;
top: 173px;
}

#b12 {
width: 20px;
height: 20px;
left: 735px;
top: 163px;
}

#b14 {
width: 20px;
height: 20px;
left: 725px;
top: 297px;
}

#b15 {
width: 20px;
height: 20px;
left: 715px;
top: 334px;
}

#b16 {
width: 20px;
height: 20px;
left: 677px;
top: 287px;
}

#b17 {
width: 20px;
height: 20px;
left: 629px;
top: 287px;
}

#b18 {
width: 20px;
height: 20px;
left: 641.24px;
top: 312.51px;
}

#b19 {
width: 20px;
height: 20px;
left: 670.83px;
top: 329.85px;
}

#b20 {
width: 20px;
height: 20px;
left: 698.38px;
top: 382.9px;
}

#b21 {
width: 20px;
height: 20px;
left: 663.69px;
top: 415.55px;
}

#b22 {
width: 20px;
height: 20px;
left: 681.03px;
top: 444.12px;
}

#b23 {
width: 20px;
height: 20px;
left: 592.27px;
top: 446.16px;
}

#b24 {
width: 20px;
height: 20px;
left: 640.22px;
top: 501.25px;
}

#b25 {
width: 20px;
height: 20px;
left: 557.58px;
top: 519.62px;
}

#b26 {
width: 20px;
height: 20px;
left: 565.74px;
top: 568.59px;
}

#b27 {
width: 20px;
height: 20px;
left: 515.75px;
top: 508.39px;
}

#b28 {
width: 20px;
height: 20px;
left: 568.81px;
top: 598.18px;
}

#b29 {
width: 20px;
height: 20px;
left: 632.06px;
top: 644.09px;
}

#b30 {
width: 20px;
height: 20px;
left: 742.25px;
top: 685.92px;
}

#b31 {
width: 20px;
height: 20px;
left: 466.78px;
top: 471.67px;
}

#b32 {
width: 20px;
height: 20px;
left: 395.36px;
top: 425.75px;
}

#b33 {
width: 20px;
height: 20px;
left: 367.82px;
top: 484.93px;
}

#b34 {
width: 20px;
height: 20px;
left: 301.5px;
top: 474.73px;
}

#b35 {
width: 20px;
height: 20px;
left: 259.67px;
top: 413.51px;
}

#b36 {
width: 20px;
height: 20px;
left: 236.2px;
top: 394.13px;
}

#b37 {
width: 20px;
height: 20px;
left: 197.43px;
top: 385.96px;
}

#b38 {
width: 20px;
height: 20px;
left: 169.89px;
top: 424.73px;
}

#b39 {
width: 20px;
height: 20px;
left: 151.52px;
top: 502.27px;
}

#b40 {
width: 20px;
height: 20px;
left: 198.45px;
top: 500.23px;
}

#b41 {
width: 20px;
height: 20px;
left: 119.89px;
top: 443.1px;
}

#b42 {
width: 20px;
height: 20px;
left: 88.27px;
top: 366.58px;
}

#b43 {
width: 20px;
height: 20px;
left: 87.25px;
top: 294.14px;
}

#b13 {
width: 20px;
height: 20px;
left: 710px;
top: 213px;
}

#b44 {
width: 20px;
height: 20px;
left: 537.83px;
top: 449.01px;
}