body {
    padding: 0px;
    border: 0px;
    margin: 0px;
    font-family: "Montserrat";
    background-color: #ebebeb;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

h1 {
    margin: 5px;
    font-weight: 600;
    font-size: 26px;
}

#map {
    width: 1000px;
}

.mapBtn {
    position: absolute;
    width: 20px;
    height: 20px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding: 0;
}

.activeBtn {
    background-color: red;
    border: 3px solid white;
    box-shadow: 0 0 0 3px red;
    border-radius: 10px;
    opacity: 100%;
}

.visibleMapBtn {
    background-color: white;
    border: 3px solid darkblue;
    border-radius: 10px;
    opacity: 100%;
}

h3 {
    height: 20px;
    width: max-content;
    padding: 0;
    margin: 0;
    font-family: "Montserrat";
    font-weight: 700;
    white-space: nowrap;
    opacity: 0;
    z-index: 100;
    font-size: 20px;
    pointer-events: none;
    background-color: #ebebeb;
}

.visibleMapBtn:hover h3 {
    opacity: 1;
}

p {
    margin: 0 0 5px 0;
}

#mapList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

#b1 {
    width: 20px;
    height: 20px;
    left: 182px;
    top: 52px;
}

#b2 {
    width: 20px;
    height: 20px;
    left: 222px;
    top: 62px;
}

#b3 {
    width: 20px;
    height: 20px;
    left: 373px;
    top: 42px;
}

#b4 {
    width: 20px;
    height: 20px;
    left: 393px;
    top: 11px;
}

#b5 {
    width: 20px;
    height: 20px;
    left: 637px;
    top: 42px;
}

#b6 {
    width: 20px;
    height: 20px;
    left: 830px;
    top: 62px;
}

#b7 {
    width: 20px;
    height: 20px;
    left: 850px;
    top: 99px;
}

#b8 {
    width: 20px;
    height: 20px;
    left: 900px;
    top: 99px;
}

#b9 {
    width: 20px;
    height: 20px;
    left: 830px;
    top: 110px;
}

#b10 {
    width: 20px;
    height: 20px;
    left: 860px;
    top: 153px;
}

#b11 {
    width: 20px;
    height: 20px;
    left: 789px;
    top: 173px;
}

#b12 {
    width: 20px;
    height: 20px;
    left: 735px;
    top: 163px;
}

#b14 {
    width: 20px;
    height: 20px;
    left: 725px;
    top: 297px;
}

#b15 {
    width: 20px;
    height: 20px;
    left: 715px;
    top: 334px;
}

#b16 {
    width: 20px;
    height: 20px;
    left: 677px;
    top: 287px;
}

#b17 {
    width: 20px;
    height: 20px;
    left: 629px;
    top: 287px;
}

#b18 {
    width: 20px;
    height: 20px;
    left: 641.24px;
    top: 312.51px;
}

#b19 {
    width: 20px;
    height: 20px;
    left: 670.83px;
    top: 329.85px;
}

#b20 {
    width: 20px;
    height: 20px;
    left: 698.38px;
    top: 382.9px;
}

#b21 {
    width: 20px;
    height: 20px;
    left: 663.69px;
    top: 415.55px;
}

#b22 {
    width: 20px;
    height: 20px;
    left: 681.03px;
    top: 444.12px;
}

#b23 {
    width: 20px;
    height: 20px;
    left: 592.27px;
    top: 446.16px;
}

#b24 {
    width: 20px;
    height: 20px;
    left: 640.22px;
    top: 501.25px;
}

#b25 {
    width: 20px;
    height: 20px;
    left: 557.58px;
    top: 519.62px;
}

#b26 {
    width: 20px;
    height: 20px;
    left: 565.74px;
    top: 568.59px;
}

#b27 {
    width: 20px;
    height: 20px;
    left: 515.75px;
    top: 508.39px;
}

#b28 {
    width: 20px;
    height: 20px;
    left: 568.81px;
    top: 598.18px;
}

#b29 {
    width: 20px;
    height: 20px;
    left: 632.06px;
    top: 644.09px;
}

#b30 {
    width: 20px;
    height: 20px;
    left: 742.25px;
    top: 685.92px;
}

#b31 {
    width: 20px;
    height: 20px;
    left: 466.78px;
    top: 471.67px;
}

#b32 {
    width: 20px;
    height: 20px;
    left: 395.36px;
    top: 425.75px;
}

#b33 {
    width: 20px;
    height: 20px;
    left: 367.82px;
    top: 484.93px;
}

#b34 {
    width: 20px;
    height: 20px;
    left: 301.5px;
    top: 474.73px;
}

#b35 {
    width: 20px;
    height: 20px;
    left: 259.67px;
    top: 413.51px;
}

#b36 {
    width: 20px;
    height: 20px;
    left: 236.2px;
    top: 394.13px;
}

#b37 {
    width: 20px;
    height: 20px;
    left: 197.43px;
    top: 385.96px;
}

#b38 {
    width: 20px;
    height: 20px;
    left: 169.89px;
    top: 424.73px;
}

#b39 {
    width: 20px;
    height: 20px;
    left: 151.52px;
    top: 502.27px;
}

#b40 {
    width: 20px;
    height: 20px;
    left: 198.45px;
    top: 500.23px;
}

#b41 {
    width: 20px;
    height: 20px;
    left: 119.89px;
    top: 443.1px;
}

#b42 {
    width: 20px;
    height: 20px;
    left: 88.27px;
    top: 366.58px;
}

#b43 {
    width: 20px;
    height: 20px;
    left: 87.25px;
    top: 294.14px;
}

#b13 {
    width: 20px;
    height: 20px;
    left: 710px;
    top: 213px;
}

#b44 {
    width: 20px;
    height: 20px;
    left: 537.83px;
    top: 449.01px;
}