#b1 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 847.99px;
    top: 38.79px;
}

#b2 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 705.19px;
    top: 68.74px;
}

#b3 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 529.45px;
    top: 372.3px;
}

#b4 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 540.43px;
    top: 401.26px;
}

#b5 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 576.38px;
    top: 397.26px;
}

#b6 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 611.33px;
    top: 402.26px;
}

#b7 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 635.29px;
    top: 429.22px;
}

#b8 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 340.72px;
    top: 182.58px;
}

#b9 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 711.18px;
    top: 190.56px;
}

#b10 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 547.42px;
    top: 51.77px;
}

#b11 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 550.42px;
    top: 348.34px;
}

#b12 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 642.28px;
    top: 317.38px;
}

#b13 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 184.95px;
    top: 148.63px;
}