#b1 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 293.75px;
    top: 479.15px;
}

#b2 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 473.13px;
    top: 99.92px;
}

#b3 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 384.04px;
    top: 73.44px;
}

#b4 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 822.26px;
    top: 356.35px;
}

#b5 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 679px;
    top: 143.26px;
}

#b6 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 783.73px;
    top: 345.52px;
}

#b7 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 650.1px;
    top: 121.59px;
}

#b8 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 757.25px;
    top: 741.6px;
}

#b9 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 172.16px;
    top: 48.16px;
}

#b10 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 857.17px;
    top: 382.84px;
}

#b11 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 822.26px;
    top: 763.27px;
}

#b12 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 2.41px;
    top: 317.83px;
}

#b13 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 43.34px;
    top: 146.87px;
}

#b14 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 793.37px;
    top: 662.14px;
}

#b15 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 884.86px;
    top: 585.09px;
}

#b16 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 737.99px;
    top: 592.32px;
}

#b17 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 742.8px;
    top: 568.24px;
}

#b18 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 917.37px;
    top: 347.93px;
}

#b19 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 351.54px;
    top: 464.7px;
}

#b20 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 940.24px;
    top: 780.12px;
}

#b21 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 965.52px;
    top: 768.08px;
}

#b22 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 28.89px;
    top: 93.9px;
}

#b23 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 28.89px;
    top: 321.44px;
}

#b24 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 364.78px;
    top: 36.12px;
}

#b25 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 883.66px;
    top: 382.84px;
}

#b26 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 492.39px;
    top: 949.87px;
}