#b1 {
    position: absolute;
    width: 44.66px;
    height: 198.99px;
    left: 652.99px;
    top: 122.49px;
    border: none;
    background-color: transparent;
}

#b2 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 658.31px;
    top: 412.66px;
}

#b3 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 712.64px;
    top: 366.25px;
}

#b4 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 145.52px;
    top: 314.18px;
}

#b5 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 314.19px;
    top: 332.29px;
}

#b6 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 297.21px;
    top: 417.19px;
}

#b7 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 504.36px;
    top: 506.61px;
}

#b8 {
    position: absolute;
    width: 164.71px;
    height: 92.32px;
    left: 566.98px;
    top: 652.08px;
    border: none;
    background-color: transparent;
}
#b9 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 649.25px;
    top: 787.34px;
}

#b10 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 529.26px;
    top: 864.32px;
}

#b11 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 467px;
    top: 337.95px;
}

#b12 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 661.7px;
    top: 489.63px;
}

#b13 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 722.83px;
    top: 467px;
}

#b14 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 687.74px;
    top: 519.07px;
}

#b15 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 650.38px;
    top: 585.85px;
}

#b16 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 703.58px;
    top: 653.77px;
}

#b17 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 673.61px;
    top: 205.55px;
}

#b18 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 608.06px;
    top: 727.5px;
}

#b19 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 552.6px;
    top: 747.17px;
}