#b1 {
position: absolute;
width: 20px;
height: 20px;
left: 222.63px;
top: 112.92px;
}

#b2 {
position: absolute;
width: 20px;
height: 20px;
left: 222.63px;
top: 145.53px;
}

#b3 {
position: absolute;
width: 20px;
height: 20px;
left: 224.08px;
top: 242.61px;
}

#b4 {
position: absolute;
width: 20px;
height: 20px;
left: 225.53px;
top: 271.59px;
}

#b5 {
position: absolute;
width: 20px;
height: 20px;
left: 228.43px;
top: 303.47px;
}

#b6 {
position: absolute;
width: 20px;
height: 20px;
left: 229.15px;
top: 337.52px;
}

#b7 {
position: absolute;
width: 20px;
height: 20px;
left: 231.32px;
top: 368.68px;
}

#b8 {
position: absolute;
width: 20px;
height: 20px;
left: 551.56px;
top: 54.24px;
}

#b9 {
position: absolute;
width: 20px;
height: 20px;
left: 556.63px;
top: 108.58px;
}

#b10 {
position: absolute;
width: 20px;
height: 20px;
left: 558.8px;
top: 163.64px;
}

#b11 {
position: absolute;
width: 20px;
height: 20px;
left: 553.73px;
top: 215.81px;
}

#b12 {
position: absolute;
width: 20px;
height: 20px;
left: 542.14px;
top: 296.95px;
}

#b13 {
position: absolute;
width: 20px;
height: 20px;
left: 550.11px;
top: 391.14px;
}

#b14 {
position: absolute;
width: 20px;
height: 20px;
left: 537.79px;
top: 446.2px;
}

#b15 {
position: absolute;
width: 20px;
height: 20px;
left: 238.57px;
top: 604.15px;
}

#b16 {
position: absolute;
width: 20px;
height: 20px;
left: 224.8px;
top: 663.56px;
}

#b17 {
position: absolute;
width: 20px;
height: 20px;
left: 191.48px;
top: 757.02px;
}

#b18 {
position: absolute;
width: 20px;
height: 20px;
left: 186.4px;
top: 798.32px;
}

#b19 {
position: absolute;
width: 20px;
height: 20px;
left: 172.64px;
top: 862.8px;
}

#b20 {
position: absolute;
width: 20px;
height: 20px;
left: 171.91px;
top: 972.2px;
}

#b21 {
position: absolute;
width: 20px;
height: 20px;
left: 563.88px;
top: 646.17px;
}

#b22 {
position: absolute;
width: 20px;
height: 20px;
left: 591.41px;
top: 759.92px;
}

#b23 {
position: absolute;
width: 20px;
height: 20px;
left: 599.38px;
top: 798.32px;
}

#b24 {
position: absolute;
width: 20px;
height: 20px;
left: 593.58px;
top: 835.27px;
}

#b25 {
position: absolute;
width: 20px;
height: 20px;
left: 588.51px;
top: 874.39px;
}

#b26 {
position: absolute;
width: 20px;
height: 20px;
left: 505.91px;
top: 904.09px;
}

#b27 {
position: absolute;
width: 20px;
height: 20px;
left: 393.61px;
top: 957.71px;
}