body {
  padding: 0px;
  border: 0px;
  margin: 0px;
  font-family: "Montserrat";
  background-color: #ebebeb;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

#result {
  margin: 5px 0;
  font-weight: 600;
  font-size: 26px;
  min-height: 32px;
}

#rightDiv {
  padding: 15px;
}

#map {
  width: 1000px;
}

.mapBtn {
  position: absolute;
  width: 20px;
  height: 20px;
  margin: 0;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 0;
}

.mapBtn > svg > path {
  opacity: 0%;
}

button.activeBtn:not(:has(svg)) {
  /* firefox compatibility */
  box-shadow: 0 0 0 3px red;
}

button.activeBtn {
  background-color: red;
  border: 3px solid white;
  /* firefox compatibility */
  box-shadow: none;
  border-radius: 10px;
  opacity: 100%;
}

button.activeBtn > svg > path {
  stroke: red;
  opacity: 100%;
}

button.visibleMapBtn:not(:has(svg)) {
  /* firefox compatibility */
  box-shadow: 0 0 0 3px darkblue;
}

button.visibleMapBtn {
  background-color: darkblue;
  border: 3px solid white;
  /* firefox compatibility */
  box-shadow: none;
  border-radius: 10px;
  opacity: 100%;
}

button.visibleMapBtn > svg > path {
  stroke: darkblue;
  opacity: 100%;
}

#mapList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 0;
}

#mapList p {
  margin: 0 0 5px 0;
  cursor: pointer;
}

#input {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding: 4px;
  margin: 4px;
  border-radius: 6px;
  border: 2px solid black;
  color: black;
  background-color: white;
  transition: color 0.2s, background-color 0.2s, border 0.2s, box-shadow 0.2s;
  outline: none;
}

#rightDiv button {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding: 4px 20px;
  margin: 4px;
  border-radius: 6px;
  border: 2px solid black;
  color: black;
  background-color: white;
  transition: color 0.2s, background-color 0.2s;
}

#rightDiv button:hover {
  color: white;
  background-color: black;
}

#input:focus {
  color: white;
  background-color: black;
}